.play-container{
  width: 100vw;
  min-width: 1200px;
  padding: 1px;
  min-height: 100vh;
  background: rgb(27,27,28);
  .artist-info-container{
    display: flex;
    position: relative;
    .return{
      position: absolute;
      color: rgb(210,210,210);
      font-size: 26px;
      left: 2%;
      top: 15%;
      cursor: pointer;
      &:hover{
        color: white;
      }
    }
    .img{
      overflow: hidden;
      border-radius: 50%;
      margin: 50px 0 0 100px;
      animation:rotateAni 18s linear infinite;
      img{
        width: 150px;
      }
    }
    @keyframes rotateAni
    {
      from {transform:rotate(0);}
      to {transform:rotate(360deg);}
    }
    .info{
      margin: 65px 0 0 15px;
      h3,h2{
        color: #d2d2d2;
      }
    }
  }
  .lyrics-display-box{
    width: 70%;
    height: 500px;
    overflow: hidden;
    box-sizing: content-box;
    margin: 0 0 0 15%;
    mask-image: linear-gradient(
                    to bottom,rgba(255,255,255,0) 0,
                    rgba(255,255,255,.6) 15%,
                    rgba(255,255,255,1) 25%,
                    rgba(255,255,255,1) 75%,
                    rgba(255,255,255,.6) 85%,
                    rgba(255,255,255,0) 100%);
    .lyrics-content{
      width: 90%;
      margin-left: 5%;
      transform: translateY(250px);
      transition-duration: 600ms;
      color: white;
      font-size: 30px;
      p{
        text-align: center;
      }
    }
  }
  .player{
    margin-top: 5%;
    width: 86%;
    margin-left: 7%;
    font-size: 40px;
    color: rgb(210,210,210);
    display: flex;
    align-items: center;
    height: 60px;
    i{
      cursor: pointer;
      margin-right: 15px;
      &:hover{
        color: white;
      }
    }
    .anticon-step-backward{
      margin-left: 1.5%;
    }
    .anticon-download{
      font-size: 30px;
      margin-right: 0;
    }
    :nth-child(2){
      font-size: 50px;
    }
    :nth-child(3){
      margin-right: 50px;
    }
    .slider-container,.voice-container{
      width: 60%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .ant-slider{
        margin: 14px 6px 14px;
      }
    }
    .download-tag{
      margin-right: 30px;
      color: #d2d2d2;
      display: flex;
    }
    .time-container{
      height: 100%;
      display: flex;
      align-items: center;
      margin: 0 30px 0 15px;
      min-width: 110px;
      span{
        font-size: 18px;
      }
    }
    .icon-shengyin,.icon-jingyin{
      font-size: 30px;
      margin-right: 5px;
    }

    .voice-container{
      width: 10%;
    }
  }
}
.on{
  color: #1DA57A
}

