.mv-container {
  min-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  .return {
    position: absolute;
    color: #d2d2d2;
    font-size: 26px;
    left: 5%;
    top: 5%;
    cursor: pointer;
    z-index: 10;
    &:hover {
      color: white;
    }
  }
  .mv-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    filter: blur(65px);
    z-index: 1;
  }

  .video-container {
    z-index: 2;
    width: 70%;
    position: relative;
    .ant-spin-container::after{
      background: rgb(0,0,0);
    }
    .ant-spin-nested-loading > div > .ant-spin .ant-spin-text{
      text-shadow: none;
    }
    video {
      width: 100%;
      border-radius: 20px;
      box-shadow: 0 0 50px 10px rgba(0, 0, 0, .3);
    }

    .control-container {
      z-index: 2;
      opacity: 0;
      width: 100%;
      padding: 0 2.5%;
      background: rgba(0, 0, 0, .3);
      border-radius: 0 0 20px 20px;
      color: #d2d2d2;
      position: absolute;
      bottom: 5px;
      transition: .5s opacity;

      .control-container-left, .control-container-right {
        display: flex;
        align-items: center;
      }

      .control-container-right {
        width: 15%;

        .voice-container {
          margin-left: .5%;
          width: 95%;
        }

        .icon-shengyin, .icon-jingyin {
          font-size: 25px;
          cursor: pointer;

          &:hover {
            color: white;
          }
        }

        .fullscreen {
          margin-left: 1.5%;

          &:hover {
            color: white;
          }
        }
      }

      .title {
        color: #d2d2d2;
        margin-top: 15px;
      }

      .content {
        font-size: 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .pause {
          font-size: 30px;
          margin-left: -6px;

          &:hover {
            color: white;
          }
        }

        .time {
          font-size: 18px;
          margin-left: 5px;
        }

      }
    }

  }
}
