.search-container{
  width: 100vw;
  min-width: 1200px;
  .ant-table-pagination {
    float: none!important;
    display: table;
    margin: 16px auto !important;
  }
  .banner{
    height: 250px;
    width: 100%;
    position: relative;
    background: url("../../asset/bg_search.jpg") no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    .return-home{
      position: absolute;
      left: 2%;
      font-size: 30px;
      color: white;
      top: 76px;
    }
    .search-content{
      width: 40%;
      height: 120px;
      input{
        font-size: 15px;
      }
      i{
        &:hover{
          color: #31c27c;
        }
      }
      .search-hot{
        margin-top: 20px;
        color: white;
        display: flex;
        justify-content: center;
        p{
          width: 80%;
          span{
            margin-right: 5%;
            color: white;
            cursor: pointer;
            &:hover{
              color: #31c27c;
            }
          }
        }
      }
    }
  }
  .search-main-content{
    width: 70%;
    margin-left: 15%;
  }
  .search-container-mv{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .search-content-mv{
      width: 22%;
      margin-top: 30px;
      .slide-keep {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        cursor: pointer;
        transition: 0.5s;
        span {
          font-size: 40px;
          color: rgb(240, 240, 240);
          opacity: 0;
          transition: 0.5s;
        }
      }
      .slideContent-top, .slideContent-bot {
        width: 100%;
        position: relative;
        overflow: hidden;
        a {
          width: 100%;
          display: block;
          min-height: 40px;
        }
        .section-three-name,.section-four-name{
          min-height: 42px;
          overflow:hidden;
          text-overflow:ellipsis;
          display:-webkit-box;
          -webkit-box-orient:vertical;
          -webkit-line-clamp:2;
        }
        .section-four-name{
          -webkit-line-clamp: 1;
          min-height:0;
        }
        .section-three-art,.section-four-art{
          overflow:hidden;
          text-overflow:ellipsis;
          display:-webkit-box;
          -webkit-box-orient:vertical;
          -webkit-line-clamp:2;
          p{
            display: inline;
          }
        }
        .section-four-art{
          margin: 0;
          -webkit-line-clamp:1;
        }
      }
      .slideContent-top:hover,.slideContent-left:hover{
        .slide-keep{
          background: rgba(0, 0, 0, 0.2);
          span {
            opacity: 1;
            font-size: 60px;
          }
        }
        img{
          transform: scale(1.05);
        }
      }
      .slideContent-bot {
        margin-top: 5%;
        font-size: 14px;
      }
      img{
        width: 100%;
        transition: 0.5s;
      }
    }
  }
}
.hover-column{
  cursor: pointer;
  &:hover{
    color: #31c27c;
  }
}
.ant-table-tbody > tr > td{
  border: none;
}
